<!DOCTYPE html>
<html>
<head>
	<title>Document</title>
</head>
<body>
	<center><h1>Home Page</h1></center>
	{% if is_paginated %}
		{% for post in page_obj %}
		 	<h2>{{post.title}}</h2>
		 	<p>{{post.desc|truncatewords:30}}<a href="{% url 'post' post.id %}">Read More</a></p>
		 	<small>{{post.publish_date}}</small>
		{% endfor %}

		<center>
			<div>
				<span>
					{% if page_obj.has_previous %}
						<a href="?page={{page_obj.previous_page_number}}">Previous</a>
					{% endif %}


						<span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span> 

						<!-- <span>{{ page_obj.number }}</span>  -->



					{% if page_obj.has_next %}
						<a href="?page={{page_obj.next_page_number}}">Next</a>
					{% endif %}
				</span>
			</div> 	
		</center>

	{% else %}
		{% for post in object_list %}
			<h2>{{post.title}}</h2>
		 	<p>{{post.desc}}</p>
		 	<small>{{post.publish_date}}</small>
		{% endfor %}	
	{% endif %}	

</body>
</html>