<!DOCTYPE html>
<html>
<head>
	<title>Limit Query</title>
	<style>
		table,th,tr,td{
			border: 2px dotted blue;	
		}
	</style>
</head>
<body>
	<center>
		<h4><u>{{data}} Limiting Queryset</u></h4>
		<table>
			<th>ID</th>
			<th>Name</th>
			<th>Roll</th>
			<th>City</th>
			<th>Marks</th>
			<th>PassDate</th>
			<th>AdmDateTime</th>
			{% for stu in student %}
				<tr>
					<td>{{stu.id}}</td>
					<td>{{stu.name}}</td>
					<td>{{stu.roll}}</td>
					<td>{{stu.city}}</td>
					<td>{{stu.marks}}</td>
					<td>{{stu.passdate}}</td>
					<td>{{stu.admdatetime}}</td>
				</tr>
			{% endfor %}	
			
		</table>
	</center>

</body>
</html>