<!DOCTYPE html>
<html>
<head>
	<title>Ordering Field</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<center><pre>
		<form method="get">
		<h3><u>Ordering Form Field</u></h3>
		<table>
			{{form.as_table}}

		</table>
		<button type="submit" class="btn btn-primary">Sign in</button>
		</form>
		
	<span>Note: Please Follow the Instructions:</span>
	<span>1.Please Fill the Details</span>
	<span>2.Please Fill the Applications</span>	
	</pre></center>	
	
	
</body>
</html>