<!DOCTYPE html>
<html>
<head>
	<title>Abstract method</title>

	<style>
		table ,th,tr,td{
			border: 1px solid blue;
		}
	</style>
</head>
<body>
	<center>
		<h3>Student Information </h3>
		<table>
			<th>ID</th>
			<th>Name</th>
			<th>Age</th>
			<th>Fees</th>
			{% for stu in student %}
				<tr>
					<td>{{stu.id}}</td>
					<td>{{stu.name}}</td>
					<td>{{stu.age}}</td>
					<td>{{stu.fees}}</td>
				</tr>
			{% endfor %}	
		</table>

		<h3>Teacher Information</h3>
		<table>
			<th>ID</th>
			<th>Name</th>
			<th>Age</th>
			<th>Date</th>
			<th>Salary</th>
			{% for stu in teacher %}
				<tr>
					<td>{{stu.id}}</td>
					<td>{{stu.name}}</td>
					<td>{{stu.age}}</td>
					<td>{{stu.date}}</td>
					<td>{{stu.salary}}</td>
				</tr>
			{% endfor %}	
		</table>

		<h3>contractor Information</h3>
		<table>
			<th>ID</th>
			<th>Name</th>
			<th>Age</th>
			<th>Date</th>
			<th>Payment</th>
			{% for stu in contractor %}
				<tr>
					<td>{{stu.id}}</td>
					<td>{{stu.name}}</td>
					<td>{{stu.age}}</td>
					<td>{{stu.date}}</td>
					<td>{{stu.payment}}</td>
				</tr>
			{% endfor %}	
		</table>
	</center>
</body>
</html>