<!DOCTYPE html>
<html>
<head>
	<title>user</title>
</head>
<body>
	<h2>This is Home template File</h2>
	<a href="{% url 'detail' 1 %}">Student 1</a><br>
	<a href="{% url 'detail' 2 %}">Student 2</a><br>
	<a href="{% url 'detail' 3 %}">Student 3</a><br>

	<hr>
	<a href="{% url 'showdetail' 1 5 %}">Sub Student 1</a><br>
	<a href="{% url 'showdetail' 2 6%}">Sub Student 2</a><br>
	<a href="{% url 'showdetail' 3 7 %}">Sub Student 3</a><br>
	

</body>
</html>

<!-- detail pakkana unna 1,2,3,4,5 anevi url.py lo unde <my_id> lo ki vasthai.. -->