<!DOCTYPE html>
<html>
<head>
	<title>Filters</title>
</head>
<body>

<!-- variable filtering  -->
	<!-- <h3>{{nm|capfirst}}</h3> -->

	<!-- <h3>{{fm|default:'Nothing'}}</h3> -->

	<!-- <h3>{{nm|length}}</h3> -->

	<!-- <h3>{{ch|lower}}</h3> -->

	<!-- <h3>{{nm|upper}}</h3> -->

	<!-- <h3>{{nm|slice:'2'}}</h3> -->

	<!-- <h3>{{nm|truncatechars:3}}</h3> -->

	<!-- <h3>{{nm|truncatewords:2}}</h3> -->



<!-- datetime filtering -->

	<!-- <h2>{{dt}}</h2> -->

	<!-- <h2>{{dt|date:'D d M Y'}}</h2> -->

	<!-- <h2>{{dt|date:'l d F y'}}</h2> -->

	<!-- <h2>{{dt|date:'SHORT_DATE_FORMAT'}}</h2> -->

	<!-- <h2>{{dt|date:'SHORT_DATETIME_FORMAT'}}</h2> -->

	<!-- <h2>{{dt|date:'DATE_FORMAT'}}</h2> -->

	<!-- <h2>{{dt|date:'DATETIME_FORMAT'}}</h2> -->

<!-- time filtering -->

	<!-- <h2>{{dt|time:'H:i'}}</h2> -->

	<!-- <h2>{{dt|time:'TIME_FORMAT'}}</h2> -->


<!-- inka date ku sambandinchina pics unnai chudu C:\Users\BALAMURALI\Pictures\Django Pictures -->



<!-- floatformat filtering -->

	<h1>Example 5.1</h1>
	<h2>{{p1}}</h2>
	<h2>{{p2}}</h2>
	<h2>{{p3}}</h2>

	<h1>Example 5.2</h1>
	<h2>{{p1|floatformat}}</h2>
	<h2>{{p2|floatformat}}</h2>
	<h2>{{p3|floatformat}}</h2>

	<h1>Example 5.3</h1>
	<h2>{{p1|floatformat:3}}</h2>
	<h2>{{p2|floatformat:3}}</h2>
	<h2>{{p3|floatformat:3}}</h2>

	<h1>Example 5.4</h1>
	<h2>{{p1|floatformat:0}}</h2>
	<h2>{{p2|floatformat:0}}</h2>
	<h2>{{p3|floatformat:0}}</h2>

	<h1>Example 5.5</h1>
	<h2>{{p1|floatformat:-3}}</h2>
	<h2>{{p2|floatformat:-3}}</h2>
	<h2>{{p3|floatformat:-3}}</h2>

	<h1>Example 5.6</h1>
	<h2>{{p1|floatformat:2}}</h2>
	<h2>{{p2|floatformat:2}}</h2>
	<h2>{{p3|floatformat:2}}</h2>



</body>
</html>