<!DOCTYPE html>
<html>
<head>
	<title>Stu info</title>
	<style>
		table,th,td{
			border: 1px red solid;
		}	
	</style>
</head>
<body>
	<h1>Student Information</h1>
	{% if stu %}
	<table>
		<tr>
			<th>ID</th>
			<th>StuID</th>
			<th>StuName</th>
			<th>StuEmail</th>
			<th>StuPass</th>
		</tr>
		
		<tr>
			<td>{{stu.id}}</td>
			<td>{{stu.stuid}}</td>
			<td>{{stu.stuname}}</td>
			<td>{{stu.stuemail}}</td>
			<td>{{stu.stupass}}</td>
		</tr>
		
	</table>
	{% else %}
	<h2>No Data in Table</h2>
	
	{% endif %}

</body>
</html>